<%- include("partials/header") -%>

<div class="homeArticleP">

<h1 class="contentTitle"> <%= thisOne.Title  %> </h1>

<p class="contentA"> <%= thisOne.Content %> </p>

<h3 class="extra"> <%= thisOne.Author %> </h3>

<h4 class="extra"> <%= thisOne.College %> </h4>

<h4 class="extra"> <%= thisOne.Date %> </h4>

</div>

<%- include("partials/footer") -%>
